:root {
  --erasure-color-primary: #4285f4;
  --erasure-color-danger: #ff3547;
  --erasure-color-dark: #212121;
  --erasure-color-warning: #fb3;
  --erasure-color-success: #00c851;
  --erasure-color-secondary: #a6c;
  --erasure-color-info: #33b5e5;
  --erasure-color: var(--erasure-color-danger);
}
